[tool.poetry]
name = "reaper"
version = "0.1.0"
description = ""
authors = [
    "Gecko <gecko.eidechse+git@pm.me>",
    "Cyn <70904206+CooldudePUGS@users.noreply.github.com>",
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
discord-py = "^2.3.1"
wheel = "^0.40.0"
bs4 = "^0.0.1"
lxml = "^4.9.3"
pytesseract = "^0.3.10"
requests = "^2.32.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
